<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
　
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Summary</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <style>
        body {
            font-family: "Calibri", sans-serif;
            -ms-word-break: break-word;
            word-break: break-word;
        }
    </style>
</head>
<body style="margin: 0; padding: 0;">
<div style="font-size: 20px; color: #FFF; font-weight: bold;">
    <span style="color: #5cb85c;border-radius: 5px; padding: 5px;">Passed: <%= passed %></span>
    <span style="color: #d9534f;border-radius: 5px; padding: 5px;">Failed: <%= failed %></span>
    <span style="color: #f0ad4e;border-radius: 5px; padding: 5px;" title=TestCases>Skipped: <%= skipped %></span>
    <span style="color: #5bc0de;border-radius: 5px; padding: 5px;">Time Elapsed: <%= duration %></span>
</div>
</body>
</html>
