    <tr>
        <td><b>Date of job:</b></td>
        <td><%= date.toLocaleString() %></td>
    </tr>
    <tr>
        <td><b>Job duration:</b></td>
        <td><%= duration %></td>
    </tr>
</table>

<h2 style="margin-top: 40px;">Case Summary</h2>

<table style="border-collapse:collapse;text-align:center;">
    <tr>
        <th style="font-weight:normal;padding:0 10px;"></th>
        <th style="font-weight:normal;padding:0 10px;">Total</th>
        <th style="font-weight:normal;padding:0 10px;">Failed</th>
        <th style="font-weight:normal;padding:0 10px;">Passed</th>
        <th style="font-weight:normal;padding:0 10px;">Skipped</th>
        <th style="font-weight:normal;padding:0 10px;">Pass %</th>
    </tr>
    <tr style="font-weight:bold">
        <th style="font-weight:normal">All tests</th>
        <td style="border-right:1px solid #000;"><%= passed + failed + skipped %></td>
        <td style="border-right:1px solid #000;color:#d9534f"><%= failed %></td>
        <td style="border-right:1px solid #000;color:#5cb85c"><%= passed %></td>
        <td style="border-right:1px solid #000;color:#f0ad4e"><%= skipped %></td>
        <td><%= (passed / (passed + failed + skipped) * 100).toFixed(2) %></td>
    </tr>
</table>

<% if(errorList && errorList.length) { %>
<h2 style="margin-top: 40px;">Failed Test Cases</h2>

<table width="800" cellspacing="0" cellpadding="4" border="1" align="left" style="table-layout: fixed;">
    <tr bgcolor="#F3F3F3">
        <td width="388"><b>Test Name</b></td>
        <td width="200"><b>Error Details</b></td>
    </tr>
    <% _.each(errorList, function(err) { %>
    <tr>
        <td width="388" style="overflow: hidden; text-overflow: ellipsis">
            <%= err.fullName %>
        </td>
        <td width="200" style="overflow: hidden; text-overflow: ellipsis">
            <% if (err.message) { %>
            <%= err.message %>
            <% } %>
        </td>
    </tr>
    <% }) %>
</table>
<% } %>
<style>
    BODY, TD, TH, P {
        font-family: arial, sans-serif;
        font-size: 14px;
        color: black;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        font-size: 14px;
    }

    h1 {
        color: black;
    }

    h2 {
        color: black;
    }

    h3 {
        color: black;
    }

    TD.bg1 {
        color: white;
        background-color: #0000C0;
        font-size: 120%
    }

    TD.bg2 {
        color: white;
        background-color: #4040FF;
        font-size: 110%
    }

    TD.bg3 {
        color: white;
        background-color: #8080FF;
    }

    TD.test_passed {
        color: blue;
    }

    TD.test_failed {
        color: red;
    }

    TD.console {
        font-family: Courier New;
    }
</style>